solutions/admin/src/Workflows/GetUserAccountInfo-51BA2FD3-7F5E-EC11-8F8F-0022480A0583.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_392c4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"715f7b61-e6f6-4c0c-827b-2ce5de591fc7"},"type":"Request","kind":"VirtualAgent","inputs":{"schema":{"type":"object","properties":{"text":{"title":"AccountNumber","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Return_value(s)_to_Power_Virtual_Agents":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"6af5ab06-a5bc-475e-9410-d769c2e22bde"},"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"accountname":"@variables('AccountName')","accountid":"@variables('AccountID')"},"schema":{"type":"object","properties":{"accountname":{"title":"AccountName","x-ms-dynamically-added":true,"type":"string"},"accountid":{"title":"AccountID","x-ms-dynamically-added":true,"type":"string"}}}}},"List_rows":{"runAfter":{},"metadata":{"operationMetadataId":"0597bd33-4a4b-4273-b9eb-1b5ab2d4cdbb"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","$filter":"accountnumber eq '@{triggerBody()['text']}'","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows')?['body/value']","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"886dd980-f807-4ff3-83d0-5e18affe8a49"},"type":"SetVariable","inputs":{"name":"AccountName","value":"@items('Apply_to_each')?['name']"}},"Set_variable_2":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"da4c05fb-c756-450d-a1b7-e3fe8ee9fb12"},"type":"SetVariable","inputs":{"name":"AccountID","value":"@items('Apply_to_each')?['accountid']"}}},"runAfter":{"Initialize_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"fe3f42d8-1c25-4ed8-b737-1ddd3612dd4d"},"type":"Foreach"},"Initialize_variable":{"runAfter":{"List_rows":["Succeeded"]},"metadata":{"operationMetadataId":"2bb6c364-ce7e-4a77-b51b-a7b1324854f0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountID","type":"string","value":"\"\""}]}},"Initialize_variable_2":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"5174e302-756a-46f3-85e9-fbb2ee5cab95"},"type":"InitializeVariable","inputs":{"variables":[{"name":"AccountName","type":"string","value":"\"\""}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}